<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="dj4e" content="4a914e5c38172ae9b61780ffbd0b2f90">
    <title>Make Confirm Delete Page</title>
  </head>
  <body>
    {% extends "base_bootstrap.html" %}

    {% block content %}

    <h1>Delete Make</h1>

    <p>Are you sure you want to delete the make: {{ make }}?</p>

    <form action="" method="POST">
      {% csrf_token %}
      <input type="submit" value="Yes, delete.">
      <input type="submit" onclick="window.location='{% url 'autos:all' %}' ; return false;" value="Cancel">
    </form>

    {% endblock %}
  </body>
</html>